@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200 overflow-y-auto;
    height: 100vh;
    color: black;
}

#app {
    height: 100%;
}

input,
select {
    @apply bg-black text-white px-3 py-1 rounded-lg;
}
